NODE_ENV=
PORT=
FRONTEND_URL=

MONGODB_URI=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
SUPERADMIN_EMAILS=

GEMINI_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_CALENDAR_ID=

PAYMENT_PROVIDER=
PAYMONGO_SECRET_KEY=
XENDIT_SECRET_KEY=
